{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}
{% block content %}
<div class="card-container">
    <div class="card">
      <img src="/static/unknown.jpg" alt="Profile Picture" style="max-width: 200px;">
      <div class="card-info">
        <h2>Name:{{ account['username'] }}</h2>
        <p>Email:{{ account['email'] }}</p>
        <p>Contact: {{ account['contact'] }}</p>
        <p>Department: {{ account['department'] }}</p>
        <p>Status: {{ account['status'] }}</p>
      </div>
    </div>

    {% endblock %}
  </div>