{% extends 'layout.html' %}
{% block title %}Profile{% endblock %}
{% block navtop %}
    <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
    <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
{% endblock %}
{% block content %}
<div class="card-container">
  <div class="card">
    <img src="{{account['image_url']}}" alt="Profile Picture" style="max-width: 200px;">
    <div class="card-info">
      <h2>Name:{{account['username']}}</h2>
      <p>Email:{{ account['email']}}</p>
      <p>Contact: {{ account['contact']}}</p>
      <p>Department: {{ account['department']}}</p>
    </div>
    <form action="{{ url_for('update_column') }}" method="POST" class="form-group">
      <input type="text" class="form-control" placeholder="Change your Status" name="new_value"/>
      <input type="submit" placeholder="Submit">
    </form>
    <div class="msg">{{ msg }}</div>
  </div>
  {% endblock %}
</div>